<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.freeshow.mapper.CustomerPersonMapper" >

    <resultMap id="BaseResultMap" type="com.freeshow.models.CustomerPersonDO" >
        <id column="ID" property="id" jdbcType="DECIMAL" />
        <result column="CUSTOMER_NO" property="customerNo" jdbcType="VARCHAR" />
        <result column="GENDER" property="certificateType" jdbcType="VARCHAR" />
        <result column="MARITAL_ST_TP_CD" property="certificateNo" jdbcType="VARCHAR" />
        <result column="NATION_TP_CD" property="customerName" jdbcType="VARCHAR" />
        <result column="BIRTHPLACE_TP_CD" property="customerGrade" jdbcType="VARCHAR" />
        <result column="CITIZENSHIP_TP_CD" property="customerType" jdbcType="VARCHAR" />
        <result column="PROVINCE_TP_CD" property="customerStatus" jdbcType="VARCHAR" />
        <result column="CITY_ID" property="customerLvl" jdbcType="VARCHAR" />
        <result column="BIRTH_DATE" property="authStatus" jdbcType="VARCHAR" />
        <result column="HIGHEST_EDU_TP_CD" property="authWay" jdbcType="VARCHAR" />
        <result column="OCCP_ST_TP_CD" property="authWay" jdbcType="VARCHAR" />
        <result column="OCCP_ST" property="authWay" jdbcType="VARCHAR" />
        <result column="JOB_TYPE" property="authWay" jdbcType="VARCHAR" />
        <result column="OCCUPATION" property="occpStTpCd" jdbcType="VARCHAR" />
        <result column="OCCUPATION" property="occpStTpCd" jdbcType="VARCHAR" />
        <result column="ADDRESS_TYPE" property="addressType" jdbcType="VARCHAR" />
        <result column="CONTRACT_ADDRESS" property="contractAddress" jdbcType="VARCHAR" />
        <result column="POST_CODE" property="postCode" jdbcType="VARCHAR" />
        <result column="PHONE" property="phone" jdbcType="VARCHAR" />
        <result column="EMAIL" property="email" jdbcType="VARCHAR" />
        <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
        <result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
        <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
        <result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
        <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
        ID,
        CUSTOMER_NO,
        GENDER,
        MARITAL_ST_TP_CD,
        NATION_TP_CD,
        BIRTHPLACE_TP_CD,
        CITIZENSHIP_TP_CD,
        PROVINCE_TP_CD,
        CITY_ID,
        BIRTH_DATE,
        HIGHEST_EDU_TP_CD,
        OCCP_ST_TP_CD,
        OCCP_ST,
        JOB_TYPE,
        OCCUPATION,
        ADDRESS_TYPE,
        CONTRACT_ADDRESS,
        POST_CODE,
        PHONE,
        EMAIL,
        MOBILE,
        CREATED_AT,
        CREATED_BY,
        UPDATED_AT,
        UPDATED_BY
    </sql>

</mapper>