<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bestpay.accounting.dal.mapper.AccCurrencyMapper" >

    <resultMap id="BaseResultMap" type="com.freeshow.models.CustomerInfoDO" >
        <id column="ID" property="id" jdbcType="DECIMAL" />
        <result column="CUSTOMER_NO" property="customerNo" jdbcType="VARCHAR" />
        <result column="CERTIFICATE_TYPE" property="certificateType" jdbcType="VARCHAR" />
        <result column="CERTIFICATE_NO" property="certificateNo" jdbcType="VARCHAR" />
        <result column="CUSTOMER_NAME" property="customerName" jdbcType="VARCHAR" />
        <result column="CUSTOMER_GRADE" property="customerGrade" jdbcType="VARCHAR" />
        <result column="CUSTOMER_TYPE" property="customerType" jdbcType="VARCHAR" />
        <result column="CUSTOMER_STATUS" property="customerStatus" jdbcType="VARCHAR" />
        <result column="CUSTOMER_LVL" property="customerLvl" jdbcType="VARCHAR" />
        <result column="AUTH_STATUS" property="authStatus" jdbcType="VARCHAR" />
        <result column="AUTH_WAY" property="authWay" jdbcType="VARCHAR" />
        <result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
        <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
        <result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
        <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
        ID,
        CUSTOMER_NO,
        CERTIFICATE_TYPE,
        CERTIFICATE_NO,
        CUSTOMER_NAME,
        CUSTOMER_GRADE,
        CUSTOMER_TYPE,
        CUSTOMER_STATUS,
        CUSTOMER_LVL,
        AUTH_STATUS,
        AUTH_WAY,
        CREATED_AT,
        CREATED_BY,
        UPDATED_AT,
        UPDATED_BY
    </sql>

    <!-- 插入货币 -->
    <insert id="insert" parameterType="com.bestpay.accounting.dal.models.AccCurrencyDO">
        /* insert */
        INSERT INTO
            T_ACC_CURRENCY (
            ID,
            CREATED_AT,
            CREATED_BY,
            UPDATED_AT,
            UPDATED_BY,
            CURRENCY_SYMBOL,
            CURRENCY_CODE,
            CURRENCY_NAME,
            EFFECTIVE_DATE,
            EXPIRY_DATE,
            CONTURY,
            DECIMAL_DIGITS)
        VALUES (
            #{id,jdbcType=DECIMAL},
            SYSDATE,
            #{createdBy,jdbcType=VARCHAR},
            SYSDATE,
            #{updatedBy,jdbcType=VARCHAR},
            #{currencySymbol,jdbcType=VARCHAR},
            #{currencyCode,jdbcType=VARCHAR},
            #{currencyName,jdbcType=VARCHAR},
            #{effectiveDate,jdbcType=TIMESTAMP},
            #{expiryDate,jdbcType=TIMESTAMP},
            #{contury,jdbcType=VARCHAR},
            #{decimalDigits,jdbcType=DECIMAL})
    </insert>

    <!-- 根据 Id 查询货币 -->
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
        /* selectById */
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            T_ACC_CURRENCY
        WHERE
            ID = #{id,jdbcType=VARCHAR}
    </select>

    <!-- 根据货币代码查询货币 -->
    <select id="selectByCurrencyCode" resultMap="BaseResultMap" parameterType="java.lang.String">
        /* selectByCurrencySymbol */
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            T_ACC_CURRENCY
        WHERE
            CURRENCY_CODE = #{currencyCode,jdbcType=VARCHAR}
        AND
            <![CDATA[
                EXPIRY_DATE >= CAST(#{currentDate,jdbcType=DATE} AS DATE)
            ]]>
    </select>

    <!-- 查询所有货币 （鹏飞用到） -->
    <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.String">
        /* selectAll */
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            T_ACC_CURRENCY
    </select>

    <!-- 更新货币 -->
    <update id="update" parameterType="com.bestpay.accounting.dal.models.AccCurrencyDO">
        /* update */
        UPDATE
            T_ACC_CURRENCY
        SET
            UPDATED_AT = SYSDATE,
            UPDATED_BY = #{updatedBy,jdbcType=VARCHAR}
            <if test="currencySymbol != null" >
                , CURRENCY_SYMBOL = #{currencySymbol,jdbcType=VARCHAR}
            </if>
            <if test="currencyCode != null" >
                , CURRENCY_CODE = #{currencyCode,jdbcType=VARCHAR}
            </if>
            <if test="currencyName != null" >
                , CURRENCY_NAME = #{currencyName,jdbcType=VARCHAR}
            </if>
            <if test="effectiveDate != null" >
                , EFFECTIVE_DATE = #{effectiveDate,jdbcType=TIMESTAMP}
            </if>
            <if test="expiryDate != null" >
                , EXPIRY_DATE = #{expiryDate,jdbcType=TIMESTAMP}
            </if>
            <if test="contury != null" >
                , CONTURY = #{contury,jdbcType=VARCHAR}
            </if>
            <if test="decimalDigits != null" >
                , DECIMAL_DIGITS = #{decimalDigits,jdbcType=DECIMAL}
            </if>
        WHERE
            ID = #{id,jdbcType=DECIMAL}
    </update>

</mapper>